.footer{
    font-family: "Outfit" sans-serif;
    background-color: rgb(248, 249, 250);

}


.footer-container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.left-footer-container img{
    width: max(5vw,16px);
}

.left-footer-container p{
    padding: 10px;
}

.left-footer-container i{
    padding: 15px;
}

.right-footer-container {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;

}

.right-footer-container p{
    padding: 5px;
}

.footer-language{
    margin-top: 100px;
    display: flex;
    gap: 20px;
   justify-content: center;
   cursor: pointer;
}

.copy-right{
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    cursor: pointer;
}

@media (max-width:450px) {

    .footer-container{
        flex-wrap: wrap;
    }
    .right-footer-container{
        flex-wrap: wrap;
    }
}