.navbar {
    width: 100%;
    font-family: "Outfit" sans-serif;
}

.navbar.active {
    position: fixed;
    top: 0px;
}


.container-one {
    background-color: #0054A6;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 45px;

}

.left-nav-container header {
    display: flex;
    gap: 100px;
    font-size: max(1.1vw, 10px);
    color: white;
    font-weight: 100;
    margin-left: 50px;
}

.right-nav-container {
    margin-right: 100px;
    color: white;
}

.right-nav-container i {
    padding: 20px;
    cursor: pointer;
}

.container-two {
    background-color: #065fb8;
}

.big-navbar-container {
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.left-nav-container-two img {
    width: max(5vw, 40px);
}

.middle-nav-container-two {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    font-size: max(1.2vw, 10px);
    color: white;
    cursor: pointer;

}

.middle-nav-container-two div {
    padding: 10px;
}

.middle-nav-container-two .active {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 2s ease-in-out;
}

.right-nav-container-two {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}


.right-nav-container-two i {
    font-size: max(1.6vw, 16px);
    color: white;

}

.right-nav-container-two button {
    width: 90px;
    height: 35px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 25px;
}

.right-nav-container-two button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/*------------------------------------------------ mobile menu----------------------*/
.mobile-menu {
    display: none;
}


.mobile-menu-show {
    display: none;
}



/*------------------------------------------------------------hover products-------------------------------*/
.hover-products{
    display: none;
}

.hover-products li{
  list-style: none;
  padding: 20px;
}
.product:hover .hover-products{
    width: 250px;
    margin-top: 10px;
    color: black;
    background-color: white;
    display: grid;
    gap: 20px;
    position: fixed;
    padding: 10px;
    border-top-right-radius: 15px;
}

 /*---------------------------------------------------solution hover product------------------------------------------*/
.hover-solution{
    display: none;
}

.hover-solution li{
    padding: 20px;
    list-style: none;
}

.solution:hover .hover-solution{
    width: 250px;
    margin-top: 10px;
    color: black;
    background-color: white;
    display: grid;
    gap: 20px;
    position: fixed;
    padding: 10px;
    border-top-right-radius: 15px;
}

/*-----------------------------------------------about hover details-----------------------*/
.hover-about{
    display: none;
}

.hover-about li{
    padding: 20px;
    list-style: none;
}

.about:hover .hover-about{
     width: 250px;
    margin-top: 10px;
    color: black;
    background-color: white;
    display: grid;
    gap: 20px;
    position: fixed;
    padding: 10px;
    border-top-right-radius: 15px;
}


@media (max-width:450px) {

    .container-one {
        gap: 50px;
    }

    .left-nav-container header {
        gap: 25px;
    }

    .middle-nav-container-two {
        display: none;
    }

    .container-one {
        display: none;
    }

    .mobile-menu {
        background-color: #0054A6;
        height: 40px;
        display: block;
        align-content: center;
        color: white;


    }

    .mobile-menu i {
        padding: 10px;
        font-size: 25px;
    }

    .mobile-menu-show {
        background-color: #0054A6;
        height: 30%;
        display: grid;
        gap: 10px;
        position: fixed;
        width: 100%;
        justify-items: center;
        color: white;
        transform: translate(0px);
        transition: all ease-in 2s;
        
    }


}




@media (max-width:760px) {

    .big-navbar-container{
        width: 100%;
    }
    .middle-nav-container-two{
        gap: 5px;
        padding: 2px;
    }
}



@media (max-width:930px) {
    .big-navbar-container{
        width: 95%;
        margin: auto;
    }
}